# numpy crash course

In [1]:
import numpy as np

In [2]:
np.__version__

'2.1.3'

In [3]:
import sys
sys.version

'3.13.5 | packaged by Anaconda, Inc. | (main, Jun 12 2025, 16:37:03) [MSC v.1929 64 bit (AMD64)]'

# Creating Arrays

In [4]:
# so we have already installed numpy
'''
recollect again
what is numpy ?
numpy is widely used python library for Scientific computing,mathematics,finance,
Data science,Data analysis
it Foundation to learn several other libraries like pandas,Tensor-Flow,Scikit-learn
-it is used in data science,machine learning,deep learning,image processing,finance,etc
'''
# It provides support to powerful
# multi dimensional (nd arrays)

''' key features includes
-vectorization
-nd Array
-Broadcasting
-Mathematical functions
-random module
-Linear Algebra

'''

' key features includes\n-vectorization\n-nd Array\n-Broadcasting\n-Mathematical functions\n-random module\n-Linear Algebra\n\n'

# creating array

In [5]:
my_list = [0,1,2,3,4,5]
my_list

[0, 1, 2, 3, 4, 5]

In [6]:
type(my_list)

list

In [7]:
arr = np.array(my_list)

In [8]:
arr

array([0, 1, 2, 3, 4, 5])

In [9]:
type(arr)

numpy.ndarray

In [10]:
type(my_list)

list

In [11]:
type(arr)

numpy.ndarray

In [12]:
np. # we learn important function

SyntaxError: invalid syntax (3980787790.py, line 1)

In [ ]:
np.arange(10)

In [ ]:
np.arange(3.0)

In [ ]:
np.arange(0,5)

In [ ]:
a = np.arange(5)

In [ ]:
a

In [ ]:
np.arange(10,20) #20 is exclusive

In [ ]:
np.arange(20,10) # first arg should be less that 2nd

In [ ]:
np.arange(-20,10)

In [ ]:
np.arange(-16,10)

In [ ]:
np.arange(1-5,5)

In [ ]:
ar = np.arange(-30,20)
ar

In [ ]:
np.arange(10,10) # 1st arg < 2nd arg

In [ ]:
np.arange(10,30,5)

In [ ]:
np.arange(0,10,3)

In [ ]:
np.arange(10,30,5,8)

In [ ]:
np.zeros(5)

In [ ]:
np.zeros(25,dtype=int)

In [ ]:
np.zeros((3,2)) # this has row1,row2,row3 and 2 column

In [ ]:
zero = np.zeros((2,3),dtype = int)
print(zero)
print(type(zero))

In [ ]:
zero

In [ ]:
np.zeros((3,3))

In [ ]:
np.zeros((10,30))

In [ ]:
np.zeros((5,10))

In [ ]:
n = (6,7)
n1 = (6,8)
print(np.zeros(n1))

In [ ]:
print(np.zeros((6,7),dtype = int))

In [ ]:
n

In [ ]:
n1

In [ ]:
np.zeros(n1)

In [ ]:
np.ones(5)

In [ ]:
np.ones(((5,5)),dtype = int)

In [ ]:
np.twos(5)

In [ ]:
np.ones(3)

In [ ]:
np.twos(5)

In [ ]:
range(5)

In [ ]:
r = range(5)
for i in r:
    print(i)

In [ ]:
list(range(5))

In [ ]:
list(range(1,15))

In [ ]:
list(range(1,15,2))

In [ ]:
y = list(range(12))
y

In [ ]:
rand(12)

In [ ]:
rand(1,10)
random.rand(1,20)

In [ ]:
np.random.rand(5)

In [ ]:
np.rand(4)

In [ ]:
ar = np.random.rand(5,4) #  row and column hai

In [ ]:
ar

In [ ]:
np.random.randint(2,5) # 2nd argument is exclusivve

In [ ]:
np.random.randint(1,100,(5,5))

In [ ]:
np.random.rand(5)

In [ ]:
np.random.randint(30,20,10)

In [ ]:
np.random.rand(int(3)) # rand = floating point value

In [ ]:
np.random.rand(2,2,2)

In [ ]:
np.random.randint(0,10,(2,3,3)) # 0to10 int and shape = 2 blocks and 3 rows and 3 columns

In [ ]:
np.random.randint(-30,20,(2,2,2,4,3,3))

In [ ]:
np.random.randint(2,5,(2,2))  #GET THE VALUE <=1 & >=5

In [ ]:
np.random.randint(10,40,(10,10)) # generate 10-30 4*4 matrix

In [ ]:
np.random.randint(1,100,(12,12))

In [ ]:
np.arange(1,19).reshape(3,6)

In [ ]:
b = np.random.randint(10,20,(5,4))
b

In [ ]:
type(b)

In [ ]:
b[:]

In [ ]:
b[1:3] # 2 rows

In [ ]:
b[-1]

In [ ]:
b[::-1]

In [ ]:
b[0:5]

In [ ]:
b

In [ ]:
b[0,0]   # indexing individual element [row,column]

In [ ]:
b[1,-1]

In [ ]:
b

In [ ]:
b[2:3]  # 0,1,2nd row aur 0,1,2,3 teeno column

In [ ]:
b

In [ ]:
b[(3,4),(2,2)]  #teesre ka dusra aur chouthe ka dusra

In [ ]:
v = b[0,(2,3)] 
print(v)
print(type(v))#individual element

In [ ]:
b

In [ ]:
b[-5,-3]

In [ ]:
b[-4,2]

In [ ]:
np.random.randint(10,20,(4,4))

In [ ]:
b

In [ ]:
b[-4,-2]

# operations

In [ ]:
a = np.random.randint(10,20,10) #10,20 ke bich mein 
                             #mujhe 10 number chahiye

In [ ]:
id(a)

In [ ]:
arr

In [ ]:
arr2 = np.random.randint(0,100,(10,10))

In [ ]:
arr2

In [ ]:
arr

In [ ]:
arr[:]

In [ ]:
arr2[2:-1]

In [ ]:
arr2[1,4]

In [ ]:
arr2

In [ ]:
arr2[-5,5]

In [ ]:
arr2

In [ ]:
arr2[-1,2]

In [ ]:
arr2[::-1]

In [ ]:
arr2[::-2]

In [ ]:
arr2

In [ ]:
arr2[:-3]

In [ ]:
arr

In [ ]:
arr.max()

In [ ]:
arr.min()

In [ ]:
arr

In [ ]:
arr.mean()

In [ ]:
arr.median()

In [ ]:
from numpy import *
a = array([1,2,3,4,5])
median(a)

In [ ]:
5+5

In [ ]:
'''
numpy- support multidimensioinal array
'''

In [ ]:
import numpy as np

In [ ]:
arr1 = np.array([1,2,3,4])  # 1d array

In [ ]:
arr1

In [ ]:
my_l = []

In [ ]:
my_arr1 = np.array(my_l)

In [ ]:
type(my_arr1)

In [ ]:
np.arange(0,100).reshape(10,10)

In [ ]:
np.zeros((2,3),dtype = int)

In [ ]:
np.ones((2,3),dtype = int)

In [ ]:
range(5)

In [ ]:
for i in range(5,10):
    print(i)

In [ ]:
list(range(5))

In [ ]:
range(1,10)

In [ ]:
list(range(1,10))

In [ ]:
list(range(1,10,2))

In [ ]:
np.random.rand(2,2,2,2,2,2)#(2,2) ke 2 bana phir aise aur
#                           2 bana phir aise aur 2 bana

In [ ]:
np.random.randint(1,50,(10,10),dtype = int) # param = low,high,size,dtype

In [ ]:
np.random.randint(1,10,(5,5))

In [ ]:
np.random.rand(2,2,2) # param block,row,column

In [ ]:
np.random.randint(1,9,(2,2,5))# param = high,low,size(block,row,column)

In [ ]:
v = np.arange(1,50).reshape(7,7)
v

In [ ]:
v[:]

In [ ]:
v[0:1] # 0th row print karega

In [ ]:
#if you want individual element

In [ ]:
v[6,6]

In [ ]:
v

In [ ]:
v.max() # largest int

In [ ]:
v.min()

In [ ]:
v.mean()

In [ ]:
v.median()

In [ ]:
from numpy import *

In [ ]:
v

In [ ]:
from numpy import *
v = array([[ 1,  2,  3,  4,  5,  6,  7],
       [ 8,  9, 10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19, 20, 21],
       [22, 23, 24, 25, 26, 27, 28],
       [29, 30, 31, 32, 33, 34, 35],
       [36, 37, 38, 39, 40, 41, 42],
       [43, 44, 45, 46, 47, 48, 49]])
median(a)

In [ ]:
import numpy as np

In [ ]:
arr= np.arange(1,10).reshape(3,3)
arr

In [ ]:
arr.reshape(9,1)

In [ ]:
arr.reshape(9)

In [ ]:
arr.reshape(3,3,order = 'A')
arr

# Indexing

In [ ]:
mat = np.arange(0,100).reshape(10,10)
mat

In [ ]:
row = 4
col = 5

In [ ]:
mat[row,col]

In [ ]:
mat[4,5]

In [ ]:
mat

In [ ]:
mat[:]

In [ ]:
col = 6

In [ ]:
mat[6,0]

In [ ]:
mat[:]  # individual element = (,) and slice = [:]

In [ ]:
# print me any column in this matrix
c = mat[:,0]
c

In [ ]:
c.reshape(10,1) #verticle form

In [ ]:
#with slices
mat[:,col]

In [ ]:
mat

In [ ]:
d = mat[row,:]
d

In [ ]:
d.reshape(10,1)  # verticle

In [ ]:
mat

In [ ]:
mat[:,8]

In [ ]:
mat[:col]

In [ ]:
mat[:,row] #prints column

In [ ]:
mat[1:4]

In [ ]:
mat[3:-3]

In [ ]:
mat[0]

In [ ]:
mat[6:]

In [ ]:
mat[0:10:3]  # jump

In [ ]:
mat[0,1]

In [ ]:
mat[:4]

In [ ]:
mat[::-1]

In [ ]:
mat[::-3]

In [ ]:
mat[2:6] # 2 se leke 5 tak

In [ ]:
mat

In [ ]:
mat[2:6,2:4] # [row part:column part]

In [ ]:
mat

In [ ]:
mat[0,2]

In [ ]:
mat[1,6] # individual element , mein 6 exclusive nahi hai

In [ ]:
mat[3:5]

In [ ]:
mat[3,5]

In [ ]:
mat[1:3,1:4] #[rows,column]

In [ ]:
mat[(2,4),(2,4)] #individual element

# masking(filter#condition)

mat # we also called as filter

In [ ]:
id(mat)

In [ ]:
mat[mat<50]

In [ ]:
mat[mat<=50] #

In [ ]:
mat > 50 # comparison/relational operator

In [ ]:
mat[mat==50]

In [ ]:
mat

In [ ]:
mat==50

In [ ]:
a2 = mat[mat>50]
a2

In [ ]:
a3 = mat[mat==50]
a3

# python program to generate otp

In [ ]:
import random

def generate_otp(length = 4):
    """ generate a numeric otp of specified length"""
    digits = '012345'
    otp = ''.join(random.choice(digits) for i in range(length))
    return otp
#Example usage
otp_length = 4
otp = generate_otp(otp_length)
print(f"your OTP is: {otp}")

In [ ]:
generate_otp()

In [ ]:
list1=['a','b','g',1,5]
print(list1.pop)

In [ ]:
x = [1, 2, 3]
y = x.copy()
x.append(4)
print(x)

In [ ]:
a1 = mat[mat<50]
a1

# 5 nov class

In [ ]:
5+5

In [13]:
import pandas as pd

In [14]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\ammyg\anaconda3\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\ammyg\anaconda3\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [15]:
stats = pd.read_excel((r'C:\Users\ammyg\Downloads\data.xlsx'))

In [16]:
stats

,CountryName,CountryCode,BirthRate,InternetUsers,IncomeGroup
0,Aruba,ABW,10.244,78.9,High income
1,Afghanistan,AFG,35.253,5.9,Low income
2,Angola,AGO,45.985,19.1,Upper middle income
3,Albania,ALB,12.877,57.2,Upper middle income
4,United Arab Emirates,ARE,11.044,88.0,High income
...,...,...,...,...,...
190,"Yemen, Rep.",YEM,32.947,20.0,Lower middle income
191,South Africa,ZAF,20.850,46.5,Upper middle income
192,"Congo, Dem. Rep.",COD,42.394,2.2,Low income
193,Zambia,ZMB,40.471,15.4,Lower middle income
194,Zimbabwe,ZWE,35.715,18.5,Low income

In [ ]:
stats.isna() # is null and isna both same

In [ ]:
stats.isnull()

In [ ]:
stats.isnull.sum()

In [ ]:
stats.dtypes #  no () system considered object as text

In [ ]:
stats.info()

In [ ]:
type(stats)

In [ ]:
stats.head() # top 5 rows

In [ ]:
stats.tail() # bottom 5 rows

In [ ]:
stats.head(2)

In [ ]:
stats.tail(-2)

In [ ]:
stats.columns

In [ ]:
stats['CountryName']

In [ ]:
stats[['BirthRate','InternetUsers']]

# split dataset to numerical data

In [ ]:
stats.columns

In [ ]:
stats_numeric_data = stats[['BirthRate','InternetUsers']]

In [ ]:
stats_numeric_data.head()

In [ ]:
stats_categorical_data = stats[['CountryName', 'CountryCode',]]

In [ ]:
stats_categorical_data.head()

# indexing in pandas

In [ ]:
stats[:3]

In [ ]:
stats[3:]

In [ ]:
stats[:]

In [ ]:
stats[3:50:5] #3 aur 5 8,8 aur 5 13 like this

In [ ]:
stats[::-1]

In [ ]:
stats[::-2]

In [ ]:
#indexing ,slicing very powerful in machine learning as well

In [ ]:
#i want to implement matplotlib with pandas

In [ ]:
# tommorow statistics

In [17]:
stats['BirthRate']

0      10.244
1      35.253
2      45.985
3      12.877
4      11.044
        ...
190    32.947
191    20.850
192    42.394
193    40.471
194    35.715
Name: BirthRate, Length: 195, dtype: float64

AttributeError: 'DataFrame' object has no attribute 'Incomegroup'

In [20]:
stats

,CountryName,CountryCode,BirthRate,InternetUsers,IncomeGroup
0,Aruba,ABW,10.244,78.9,High income
1,Afghanistan,AFG,35.253,5.9,Low income
2,Angola,AGO,45.985,19.1,Upper middle income
3,Albania,ALB,12.877,57.2,Upper middle income
4,United Arab Emirates,ARE,11.044,88.0,High income
...,...,...,...,...,...
190,"Yemen, Rep.",YEM,32.947,20.0,Lower middle income
191,South Africa,ZAF,20.850,46.5,Upper middle income
192,"Congo, Dem. Rep.",COD,42.394,2.2,Low income
193,Zambia,ZMB,40.471,15.4,Lower middle income
194,Zimbabwe,ZWE,35.715,18.5,Low income

In [21]:
stats[stats.IncomeGroup == 'Low income']

,CountryName,CountryCode,BirthRate,InternetUsers,IncomeGroup
1,Afghanistan,AFG,35.253,5.90,Low income
11,Burundi,BDI,44.151,1.30,Low income
13,Benin,BEN,36.440,4.90,Low income
14,Burkina Faso,BFA,40.551,9.10,Low income
29,Central African Republic,CAF,34.076,3.50,Low income
38,Comoros,COM,34.326,6.50,Low income
52,Eritrea,ERI,34.800,0.90,Low income
55,Ethiopia,ETH,32.925,1.90,Low income
64,Guinea,GIN,37.337,1.60,Low income
65,"Gambia, The",GMB,42.525,14.00,Low income
66,Guinea-Bissau,GNB,37.503,3.10,Low income
77,Haiti,HTI,25.345,10.60,Low income
93,Cambodia,KHM,24.462,6.80,Low income
99,Liberia,LBR,35.521,3.20,Low income
111,Madagascar,MDG,34.686,3.00,Low income
115,Mali,MLI,44.138,3.50,Low income
120,Mozambique,MOZ,39.705,5.40,Low income
123,Malawi,MWI,39.459,5.05,Low income
127,Niger,NER,49.661,1.70,Low income
132,Nepal,NPL,20.923,13.30,Low income
148,Rwanda,RWA,32.689,9.00,Low income
154,Sierra Leone,SLE,36.729,1.70,Low income
156,Somalia,SOM,43.891,1.50,Low income
158,South Sudan,SSD,37.126,14.10,Low income
167,Chad,TCD,45.745,2.30,Low income
168,Togo,TGO,36.080,4.50,Low income
177,Tanzania,TZA,39.518,4.40,Low income
178,Uganda,UGA,43.474,16.20,Low income
192,"Congo, Dem. Rep.",COD,42.394,2.20,Low income
194,Zimbabwe,ZWE,35.715,18.50,Low income

In [22]:
stats.IncomeGroup.unique()

array(['High income', 'Low income', 'Upper middle income',
       'Lower middle income'], dtype=object)

In [26]:
 import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
plt.rcParams['figure.figsize'] = 42

ValueError: Key figure.figsize: Expected str or other non-set iterable, but got 42