In [3]:
10 & 13

8

In [4]:
10 | 13

15

In [6]:
10 ^ 13

7

In [7]:
not 13

False

In [8]:
5/0

ZeroDivisionError: division by zero

In [9]:
print(False and 5/0)

False

In [14]:
x = [1,2,3]
y = x
z = [1,2,3]

In [15]:
print(x is z)

False

In [23]:
list = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']

In [24]:
for i in list:
    print(ord(i))

97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122

In [28]:
print(ord('a'))

97

In [33]:
print("He said \"Hi\"")

He said "Hi"

In [37]:
import time
for i in range(3):
    print("Processing...", end="\r", flush=True)
    time.sleep(2)

Processing...

In [48]:
name  = 'amit'# old % formatting method
age = 25
print('my name is %s and i am %d years old'%(name,age))

my name is amit and i am 25 years old

In [49]:
name = 'amit patil'
age = 26
print(f'my name is {name} and i am {age} years old')

my name is amit patil and i am 26 years old

# using % with dictionary

In [50]:
data = {"name":"asha","marks":92}

In [53]:
print('name:%(name)s:,marks:%(marks)d'%data)

name:asha:,marks:92

In [68]:
fruits = {'fruitname':'apple','rate':25}

In [69]:
print(f"fruitsname is {fruits['fruitname']} and rate is {fruits['rate']}")

fruitsname is apple and rate is 25

In [77]:
users = {"Amit": 89, "Ria": 92, "John": 85}

for name, marks in users.items():
    print(f"{name:<5} : {marks:>3}")

Amit  :  89
Ria   :  92
John  :  85

# print function

In [79]:
'''
brain what do you know about print function?
looks like print()
inside print() we type variables,expressions,strings, and any output that we want to display
print take some parameters like:
1) sep = ''(default is space for ','),end = '',flush = true for real time console update


another feature of print function is:
f'string:
for example:
employee = {'name':'amit','age':25
'''

"\nbrain what do you know about print function?\nlooks like print()\ninside print() we type variables,expressions,strings, and any output that we want to display\nprint take some parameters like:\n1) sep = ''(default is space for ','),end = '',flush = true for real time console update\n"

In [110]:
employee = {'name':'amit','age1':30}# f'string use dictionary or object values

In [91]:
print(f'my name is {employee['name']} and my age is {employee['age1']}')

my name is amit and my age is 30

In [93]:
#features of f' string 5 features

In [94]:
pi = 3.145698

In [98]:
print(f"pi = {pi:0.2f}")#formatting numbers in f-string

pi = 3.14

In [100]:
#thousand seperators
num = 2500000
print(f"Number = {num:,}")

Number = 2,500,000

In [102]:
num1=5

In [109]:
print(f"number is:{num1:003}")

number is:005

In [111]:
#formatting alignment
#:<,:>,:^

SyntaxError: invalid syntax (2939783212.py, line 2)

In [180]:
list1 = {'amit':25,'ria':92,'john':89} #formatting in f' string
for key,value in list1.items():
    print(f"{key}{value}","   ",f"{key:>20}{value:>10}")

amit25                     amit        25
ria92                      ria        92
john89                     john        89

# class work print function

In [181]:
#print is used for answer

In [183]:
num1 = 15
num2 = 20
add = num1+num2
print('the addition of',num1,'and',num2,'is=',add)
#conclusion = print function is used to print,
#result with string

the addition of 15 and 20 is= 35

In [186]:
#OLD FORMAT METHOD
num1 = 5
num2 = 6
add = num1 + num2
#print('addition of',num1,'and' ,num2,' is:',add)#traditional method
print('additon of {} and {} is = {}'.format(num1,num2,add))

additon of 5 and 6 is = 11

In [188]:
'''new method mein direct entry kardo formated string 
braces mein variables aur expression ki
'''

'new method mein direct entry kardo formated string \nbraces mein variables aur expression ki\n'

In [193]:
print(f"the addition of {num1} and {num2} is {add}")

the addition of 5 and 6 is 11

In [194]:
'''
f string
variable should be in curly braces
and write everything inside quotes ' '
at starting simply add f'''

"\nf string\nvariable should be in curly braces\nand write everything inside quotes ' '\nat starting simply add f"

#end statment

In [203]:
print('hello',end = ' ')
print('good morning',end = '')

hello good morning

#seperator

In [204]:
#default seperator at place of comma is space ,but if we want anything
  #diffrent then we can add with sep = ''