# conditional statment

- if
- else
- nested if
- if else if

In [3]:
if True:
    print('data science')

data science

In [4]:
if False:
    print('data science')
                                        
print('bye for now')

bye for now

In [6]:
if True:
    print('data science')
print('bye for now')

data science
bye for now

In [7]:
if True:
    print('Data science job')
else:
    print('no job')

Data science job

In [9]:
x = 4
r = x%2
if r == 0:
    print('x is even number')

x is even number

In [10]:
x = 5
r == x%2
if r == 0:
    print('even number')

even number

In [16]:
x = 5
r = x%2
if r != 0:
    print('x is odd number')

x is odd number

In [19]:
y = 9
r = y%2
if r == 0:
    print('Even number')
if r == 1:
    print('odd number')

odd number

In [20]:
x = 8
r = x%2
if r ==0:
    print('even number')
else:
    print('odd number')

even number

In [21]:
x = 9
r = x%2
if r!=0:
    print('not an even number')
else:
    print('even number')

not an even number

In [25]:
x = 5
r = x%2
if r == 0:
    print('even number')
    if x>5:
        print('number is greater')
else:
    print('odd number')

odd number

In [32]:
x = 10
r = x%2
if r ==0:
    print('even number')

    if x>5:
        print('greater number')
else:
    print('odd numbber')

even number
greater number

In [34]:
x = 13  # nested if else-->if (if else) else
r = x%2
if r == 0:
    print('even number')

    if x>5:
        print('greater number')
    else:
        print('lesser number')
else:
    print('odd number')

odd number

In [130]:
x = 3          # company ko jyada if nahi chahiye
if x == 1:
    print('one')
if x == 2:
    print('two')
if x == 3:
    print('three')
if x == 4:
    print('four')

three

In [38]:
x = 5

if x == 1:
    print('one')
elif x == 2:
    print('Two')
elif x == 3:
    print('Three')
elif x == 4:
    print('four')

In [39]:
x = 5
if x == 1:
    print('one')
elif x == 2:
    print('two')
elif x == 3:
    print('three')
elif x == 4:
    print('four')
else:
    print('number not found')

number not found

In [41]:
age = 29
if age > 18 : print('elligible for voting')

elligible for voting

# pract_10nov(loops)

In [131]:
'''
recollect - what do you know about loops?
two kind mainly i know
1)while and 2)For
if we want to iterate(repeatition)
we need somethig to iterate through
so it can be a list,string or any other datastructures like dict tuple or array
while we use like :
1)while some condition is true,do this till 
we also need to initiate in this

2)FOR we use it like --for i in list
so for every element in list do this
so we need to have list or somoething to iterate through

so wheen to use while loop?--> when we have condition.
so when to use for loop?--> when we have sequence(list,etc).

also we have :
while else and for else in python

nested while:
for each outer loop innner loop will run that much time
together they will run i*j times

print()----# will print nextline
-------------------------------------------------------------------------------------------------------
FOR loop

in for loop their are certain statments
such as :
BREAK---  based on condition it will stop execution
CONTINUE--- continue and skip the condition
PASS--- pass the error /bug
'''

'\nrecollect - what do you know about loops?\ntwo kind mainly i know\n1)while and 2)For\nif we want to iterate(repeatition)\nwe need somethig to iterate through\nso it can be a list,string or any other datastructures like dict tuple or array\nwhile we use like :\n1)while some condition is true,do this till \nwe also need to initiate in this\n\n2)FOR we use it like --for i in list\nso for every element in list do this\nso we need to have list or somoething to iterate through\n\nso wheen to use while loop?--> when we have condition.\nso when to use for loop?--> when we have sequence(list,etc).\n\nalso we have :\nwhile else and for else in python\n\nnested while:\nfor each outer loop innner loop will run that much time\ntogether they will run i*j times\n\nprint()----# will print nextline\n-------------------------------------------------------------------------------------------------------\nFOR loop\n\nin for loop their are certain statments\nsuch as :\nBREAK---  based on condition it will stop execution\nCONTINUE--- continue and skip the condition\nPASS--- pass the error /bug\n'

In [44]:
print('ds')
print('ds')
print('ds')
print('ds')
print('ds')
print('ds')

ds
ds
ds
ds
ds
ds

In [46]:
for i in range (6):
    print('ds')

ds
ds
ds
ds
ds
ds

In [49]:
i = 1             #initialization
while i <= 5:     #condition
    print('data science')
    i = i + 1     #increment

data science
data science
data science
data science
data science

In [50]:
i = 5          # initialization
while i >=1:    #condition
    print('data science')
    i = i - 1     #decrement

data science
data science
data science
data science
data science

In [52]:
i = 5
while i>=1:
    print('data science,',i)
    i -= 1

data science, 5
data science, 4
data science, 3
data science, 2
data science, 1

In [55]:
i = 1
while i<=10:
    print('data science,',i)
    i += 1

data science, 1
data science, 2
data science, 3
data science, 4
data science, 5
data science, 6
data science, 7
data science, 8
data science, 9
data science, 10

In [57]:
i = 1
while i<=5:
    print('data science')
    j = 1
    while j<=4:
        print('technology')
        j = j + 1
    i = i+1
    print()

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

In [71]:
i = 1
while i<=5:
    print('data science',end = ' ') # when we mention end then new line will not be created
    j = 1
    while j<=4:
        print('job',end = ' ')
        j = j+1
    i = i+1
    print()

data science job job job job
data science job job job job
data science job job job job
data science job job job job
data science job job job job

In [73]:
#let us use while loop using some numbers
i = 1

while i<= 10:
    j = 0
    while j <= 2:
        print(i*j,end = ' ')
        j = j+1
    print()
    i = i+1

0 1 2
0 2 4
0 3 6
0 4 8
0 5 10
0 6 12
0 7 14
0 8 16
0 9 18
0 10 20

In [83]:
# print the tables of 5,6,7
i = 1
while i<=10:
    j = 5
    while j <= 7:
        print(f'{j}*{i}   =  ',j*i,end = '   ')
        j= j+1
    print()
    i = i+1

5*1   =   5   6*1   =   6   7*1   =   7
5*2   =   10   6*2   =   12   7*2   =   14
5*3   =   15   6*3   =   18   7*3   =   21
5*4   =   20   6*4   =   24   7*4   =   28
5*5   =   25   6*5   =   30   7*5   =   35
5*6   =   30   6*6   =   36   7*6   =   42
5*7   =   35   6*7   =   42   7*7   =   49
5*8   =   40   6*8   =   48   7*8   =   56
5*9   =   45   6*9   =   54   7*9   =   63
5*10   =   50   6*10   =   60   7*10   =   70

In [84]:
i = 1
while i<=4:
    j = 0
    while j <= 3:
        print(i*j,end = '')
        j = j+1
    print()
    i+=1

0123
0246
0369
04812

In [86]:
i = 10
while i<=4:
    j = 0
    while j <= 3:
        print(i*j,end = '')
        j = j+1
    print()
    i+=1
else:
    print('condition is not match')

condition is not match

# for loop

In [87]:
name = 'nit'   # i in matlab each element inn string
for i in name:
    print(i)

n
i
t

In [88]:
name1 = [1,2,3.4,'hello']
for i in name1:
    print(i)

1
2
3.4
hello

In [89]:
range(5)

range(0, 5)

In [90]:
for i in range(5):
    print(i)

0
1
2
3
4

In [94]:
for i in range(1,10,5):
    print(i)

1
6

In [96]:
#print the value which is divisible by 5
for i in range (1,31):
    if i%5 == 0:
        print('divisible by ',i)

divisible by  5
divisible by  10
divisible by  15
divisible by  20
divisible by  25
divisible by  30

# Break continue pass

In [97]:
for i in range(1,11):
    print(i,end = ' ')

1 2 3 4 5 6 7 8 9 10

In [102]:
for i in range(1,11):
    if i > 5:
        break
    print(i,end = ' ')

1 2 3 4 5

In [104]:
for i in range(1,11): # break matlab pura break uske aage nahi jayega
    if i == 4:
        break
    print(i,end = ' ')

1 2 3

In [105]:
for i in range(1,11):    # continue matlab skip hota hai,
                           #usko chod ke baaki execute karo
    if i == 4:
        continue
    print(i,end = ' ')

1 2 3 5 6 7 8 9 10

In [110]:
for i in range(1,31):
    if i%8==0:
        print('divisible by 8')
        continue
        
    if i % 2 == 0 : print('this  number is divisible by 2 and not by 8',i)

this  number is divisible by 2 and not by 8 2
this  number is divisible by 2 and not by 8 4
this  number is divisible by 2 and not by 8 6
divisible by 8
this  number is divisible by 2 and not by 8 10
this  number is divisible by 2 and not by 8 12
this  number is divisible by 2 and not by 8 14
divisible by 8
this  number is divisible by 2 and not by 8 18
this  number is divisible by 2 and not by 8 20
this  number is divisible by 2 and not by 8 22
divisible by 8
this  number is divisible by 2 and not by 8 26
this  number is divisible by 2 and not by 8 28
this  number is divisible by 2 and not by 8 30

In [111]:
ava = 5 # the machine has only 5 choclates
x = int(input('how many chocolates do you want:?'))

i = 1
while i<=x :
    print('choclates:',i)
    i = i+1

how many chocolates do you want:? 5

choclates: 1
choclates: 2
choclates: 3
choclates: 4
choclates: 5

In [116]:
available_choclates = 5 # the machine has only 10 candis

x= int(input('how many choclates do you want:?'))

i =1
while i<=x:
    if i > available_choclates: # we stop the execution but which code execution?
        break                  #not entire code,i want to come out of the loop
    print('choclate')        #break is statment | means jump out of the loop
    i = i + 1
print('bye for now')

how many choclates do you want:? 10

choclate
choclate
choclate
choclate
choclate
bye for now

In [120]:
available_choclates = 5

x = int( input('how many choclates do you want:?'))
i =1
while i <= x:
    if i > available_choclates:
        print('out of stock')      # condition ghused do 
                                  #break #ke pahile warning dedo
        break
    print('choclate',i)

    i = i+1
print('bye for now')

how many choclates do you want:? 10

choclate 1
choclate 2
choclate 3
choclate 4
choclate 5
out of stock
bye for now

In [121]:
for i in range(1,51):
    if i%3 == 0:
        print(i)
print('end')

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
end

In [122]:
for i in range(1,51):
    if i%3 == 0:
        continue
    print(i)
print('end')

1
2
4
5
7
8
10
11
13
14
16
17
19
20
22
23
25
26
28
29
31
32
34
35
37
38
40
41
43
44
46
47
49
50
end

In [124]:
for i in range(1,51): # skip all the values  which are divors of 3 and 5
    if i%3 == 0 or i%5 == 0:
        continue
    print(i)

1
2
4
7
8
11
13
14
16
17
19
22
23
26
28
29
31
32
34
37
38
41
43
44
46
47
49

In [125]:
nums = [12,5,15,18,21,26, 30,40]
for num in nums :
    if num%5==0:
        print(num)

5
15
30
40

In [127]:
nums = [12,18,21,25]
for num in nums:
    if num % 5 == 0:
        print(num)
        break

25

In [128]:
nums = [12,18,21,25]
for num in nums:
    if num % 5 == 0:
        print(num)
        break
else:
    print('number not found')

25

In [129]:
nums = [12,18,21,26,15]
for num in nums:
    if num % 5 == 0:
        print(num)
        break

else:
    print('number not found')

15