In [1]:
# WHAT DO YOU UNDERSTAND ABOUT GLOBAL  VARIABLE AND LOCAL VARIABLE ?
#--> WE CAN CONVERT GLOBAL VARIABLE TO LOCAL VARIABLE BUT WE CANNOT CONVERT LOCAL VARIABLE TO GLOBAL VARIABLE
#USING KEYWORD CALLED GLOBAL
''' GLOBAL- OUT OF FUNCTION
    LOCAL - IN THE FUNCTION
                               '''

' GLOBAL- OUT OF FUNCTION\n    LOCAL - IN THE FUNCTION\n                               '

In [2]:
# CREATE THE PROGRAM TO  GET HOW MANY NUMBERS FROM THE LIST ARE EVEN OR ODD

In [3]:

def even_odd():
    list = []
    even = 0
    odd = 0
    list = input(int())
    
    for i in list:
        if i%2 == 0:
            even += 1
    odd = len(list) - even
            
    print(even,odd)

In [4]:
even_odd()

0 24\

TypeError: not all arguments converted during string formatting

# variable lenght argument

In [ ]:
def sum(a,b):
    c = a+b
    return c
sum(5,6)

In [15]:
def sum(a,*b):
    c = a + b
    return c
sum(5,6,7,8,9)

TypeError: unsupported operand type(s) for +: 'int' and 'tuple'

In [16]:
def sum(a,b):
    c = a
    for i in b:
        c += i
    print(c)
sum(1,2,3,4,5)

TypeError: sum() takes 2 positional arguments but 5 were given

In [ ]:
def sum(a,*b): # '*' added
    c = a
    for i in b:
        c += i
    print(c)
sum(1,2,3,4,5)

In [ ]:
def sum1(a, *b): # 1st argument is fixed but for 2nd argument  tuple
    #c = a+b
    print(type(a))
    print(type(b))

sum1(5,6,7,8)

In [ ]:
def sum(a, *b): # 1st argument is fixed & we fetch each value from the tuple & we can add them. 
    c = a
    
    for i in b:
        c = c + i 
    print(c)
        
sum(5,6,7,8)

# keywords + variable length argument_kwargs

In [20]:
def person():
    person('a',36,'b',35)

In [18]:
def person(name,*data):
    print(name)
    print(data)
person('a',35,'b',35)

a
(35, 'b', 35)

In [19]:
def person(name ,**data):
    print(name)
    print(data)
person('Alex',age = 36,add = 'mumbai')

Alex
{'age': 36, 'add': 'mumbai'}

# functional argument completed

# global vs local variable

In [ ]:
a = 20
print(a)

In [ ]:
a = 10   

def something():
    b = 15 
    print('in function',b)    
    print('out function',a) 
something()

In [ ]:
a = 10   
def something():
    b = 15 

print('in function',b)    
print('out function',a)

In [ ]:
a = 10
def something():
    b = 15
    print('in function',b)
print('out function',a)
something()

In [ ]:
a = 10  #global variable

def something():
    b = 55  # local variable
    print('in function',b)
something()

print('out function',a)

In [ ]:
# if i want to define global variabel inside the function 
a = 10  

def something():
    global a 
    b = 15 # 15 is converted to local when user assigned global a 
    print('in function',b)
    print('gloabl variable', a)
something()
print('out function',a)

In [ ]:
x = 10  # Global variable

def update_x():
    global x  # Declare that we are using the global variable x
    x += 5    # Modify the global variable
   
update_x()
print(x)  # Output: 15

In [ ]:
import keyword
keyword.kwlist

In [ ]:
list = []
print('enter numbers')
list = input(int())
list

In [5]:
def count():
    list1 = []
    even = 0
    odd = 0
    print('enter numbers')

    list1 = list(map(int, input().split()))
    for i in list1:
        if i%2 == 0:
            even += 1
        else:
            odd += 1
    print('no of evens are:',even)
            
    
count()

enter numbers

 1 2 3 4 5 6

no of evens are: 3

In [6]:
'''
✅ What’s Causing the Error?
1. input(int()) is incorrect

input() takes no arguments.
input(int()) evaluates int() → 0, so it becomes input(0) which Python interprets as a format string → TypeError.

2. You're treating input as a list, but it's a string

list = input() returns a string, so iterating over it gives characters, not numbers.

3. odd is not defined

You increment odd but never initialized it.

4. Avoid using list as a variable name

It shadows the built-in list type'''

"\n✅ What’s Causing the Error?\n1. input(int()) is incorrect\n\ninput() takes no arguments.\ninput(int()) evaluates int() → 0, so it becomes input(0) which Python interprets as a format string → TypeError.\n\n2. You're treating input as a list, but it's a string\n\nlist = input() returns a string, so iterating over it gives characters, not numbers.\n\n3. odd is not defined\n\nYou increment odd but never initialized it.\n\n4. Avoid using list as a variable name\n\nIt shadows the built-in list type"

In [7]:
def count(lst):
  
    even = 0
    odd = 0
    
    for i in lst:
        if i%2 == 0:
            even += 1
        else:
            odd +=1 
    return even,odd

lst = [1,2,3,4,8,9,10]
even, odd = count(lst)         

print(even)
print(odd)

4
3

In [10]:
def count(lst):
    
    even = 0
    odd = 0
    
    for i in lst:
        if i%2 == 0:
            even += 1
        else:
            odd +=1 
    return even,odd

lst = [1, 2, 3, 4, 5, 6, 7, 8 ]
even,odd = count(lst)         

print("Even Number: {} and odd Number : {}".format(even,odd)) 
#format is function belongs to string & bydefault you need to pass any parameter

Even Number: 4 and odd Number : 4

In [14]:

def fib(n):
    a = 0
    b = 1
    
    print(a)
    print(b)
    
    for i in range(0, n):
        c = a + b
        a = b
        b = c
        
        print(c)
        
fib(10)
          
          
    
  
    
    
    
fib(10)

0
1
1
2
3
5
8
13
21
34
55
89
0
1
1
2
3
5
8
13
21
34
55
89